<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" name="todo-desc" id="todo-desc" placeholder="enter a task">
            <input type="submit" class="new-todo btn-light">
            <br>
            <h1>to do:</h1>
            <ul class="todo list-group">
            {{#each todos}} 
                {{#unless this.completed}}
                  <li class="todo{{this.id}} list-group-item" data-id={{this.id}}>{{this.todo_desc}}
                    <button class="btn-primary done" data-id={{this.id}}>x</button>
                  </li> 
                {{/unless}} 
            {{/each}}
            </ul>
        </div>
        <div class="col">
            <h1>completed</h1>
            <ul class="completed list-group">
            {{#each todos}} 
                {{#if this.completed}}
                  <li class="todo{{this.id}} list-group-item" data-id={{this.id}}>{{this.todo_desc}}</li> 
                {{/if}} 
            {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>

    $(document).on('click', '.new-todo', function(e) {
        e.preventDefault();
        var todo = $('#todo-desc').val();
        $.ajax({
            url: '/',
            method: 'post',
            data: { todo_desc: todo, completed: 0 },
            success: function(res) {
                $('.todo').append(
                    `<li class="todo${res[1]} list-group-item" data-id=${res[1]}>${res[0].todo_desc}
                        <button class="devour btn-success" data-id=${res[1]}>✓</button>
                    </li>`
                );
            }
        });
        $('#burger-name').val('');
    });

    $(document).on('click', '.devour', function(e) {
        var id = $(this).data('id');
        $.ajax({
            url: '/update/' + id,
            method: 'put',
            data: { id: id, devoured: 1 },
            success: function(res) {
                var eaten = $(`.burger${id}`);
                eaten.remove();
                eaten.children().remove();
                $('.eaten').append(eaten);                
            }
        });
    });

</script>