<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <div class="input-group mb-3">
              <input class="form-control" type="text" name="todo_desc" id="todo-desc" placeholder="enter a task">
                <div class="input-group-append">
                  <button type="submit" class="new-todo btn btn-primary">+</button>
                </div>
            </div>
          {{!-- <input type="text" name="todo_desc" id="todo-desc" placeholder="enter a task">
              <button type="submit" class="new-todo btn-light">+</button> --}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>to do:</h1>
            <ul class="todo list-group">
            {{#each todos}} 
                {{#unless this.completed}}
                  <li class="todo{{this.id}} list-group-item" data-id={{this.id}}>{{this.todo_desc}}
                    <button class="btn btn-success done" data-id={{this.id}}>✓</button>
                  </li> 
                {{/unless}} 
            {{/each}}
            </ul>
        </div>
        <div class="col">
            <h1>completed</h1>
            <ul class="completed list-group">
            {{#each todos}} 
                {{#if this.completed}}
                  <li class="todo{{this.id}} list-group-item" data-id={{this.id}}>{{this.todo_desc}}
                    <button class="btn btn-danger delete" data-id={{this.id}}>x</button>
                  </li> 
                {{/if}} 
            {{/each}}
            </ul>
        </div>
    </div>
</div>

<script>

    $(document).on('click', '.new-todo', function(e) {
        e.preventDefault();
        var todo_desc = $('#todo-desc').val();
        $.ajax({
            url: '/',
            method: 'post',
            data: { todo_desc: todo_desc, completed: 0 },
            success: function(res) {
                $('.todo').append(
                    `<li class="todo${res[1]} list-group-item" data-id=${res[1]}>${res[0].todo_desc}
                        <button class="btn done btn-success" data-id=${res[1]}>✓</button>
                    </li>`
                );
            }
        });
        $('#todo-desc').val('');
    });

    $(document).on('click', '.done', function(e) {
        var id = $(this).data('id');
        $.ajax({
            url: '/update/' + id,
            method: 'put',
            data: { id: id, completed: 1 },
            success: function(res) {
                var completed = $(`.todo${id}`);
                completed.remove();
                completed.children().remove();
                completed.append(
                    `<button class="btn btn-danger delete" data-id=${this.id}>x</button>`
                )
                $('.completed').append(completed);                
            }
        });
    });

    $(document).on('click', '.delete', function(e) {
        var id = $(this).data('id');
        $.ajax({
            url: '/delete/' + id,
            method: 'delete',
            data: { id: id },
            success: function(res) {
                $(`.todo${id}`).remove();
            }
        });
    });

</script>